[submodule "server"]
	path = server
	url = https://github.wdf.sap.corp/DPP-showcase-application/news_paper_scenario_server.git
[submodule "web"]
	path = web
	url = https://github.wdf.sap.corp/DPP-showcase-application/news_paper_scenario_UI.git
